.fixme {
    flex-wrap: wrap;
    justify-content: space-around;
    color: cyan;
    border: 7px solid var(--octopus-gray);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    height: auto;
    position: relative;
}

.fixme.component.enabled {
    border: 1px solid cyan;
}

.fixme-header {
    margin-bottom: 30px;
    height: 55px;
    border-bottom: gray 1px solid;
    padding: 0;
    position: relative;
}

.fixme-title {
    margin: 0px 0px 20px 0px;
    padding: 0;
    color: #1abc9c;
}

.order-type-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

.order-type-label.new {
    color: #1abc9c;
}

.order-type-label.cancel{
    color: #bd5757;
}

.order-type {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
}

.order-type input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.order-type *,
.order-type ::after,
.order-type ::before {
    box-sizing: border-box;
}

.order-type .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    /* border-bottom: 0.5em solid #eee; */
}

.order-type .rocker-small {
    font-size: 0.6em;
}

.order-type .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #999; */
    /* border: 0.5em solid #eee; */
    border-bottom: 0;
}

.order-type .switch-left,
.order-type .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
}

.order-type .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.order-type .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #1abc9c;
    color: #fff;
}

.order-type .switch-left::before,
.order-type .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.order-type .switch-left::before {
    left: -0.4em;
}

.order-type .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

.order-type input:checked+.switch-left {
    background-color: #bd5757;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

.order-type input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

.order-type input:checked+.switch-left+.switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

.order-type input:checked+.switch-left+.switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
.order-type input:focus+.switch-left {
    color: #333;
}

.order-type input:checked:focus+.switch-left {
    color: #fff;
}

.order-type input:focus+.switch-left+.switch-right {
    color: #fff;
}

.order-type input:checked:focus+.switch-left+.switch-right {
    color: #333;
}

.fix-tag-row {
    display: flex;
    align-items: center;
    height: 35px;
}

.even-row {
    background-color: var(--octopus-gray);
}

.tag-label {
    width: 100px;
    color: #1abc9c;
}

.name-label {
    width: 200px;
}

.value-label {
    width: 300px;
    border-left: gray 1px solid;
    color: white;
}

.fix-tag-row .radio {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0px 10px 0px 10px;
    position: relative;
    width: 30px;
}

.fix-tag-row .radio::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.fix-tag-row .radio,
.fix-tag-row .radio::after {
    transition: all 100ms ease-out;
}

.fix-tag-row .radio::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.fix-tag-row input[type=checkbox] {
    cursor: default;
}

.fix-tag-row .radio:hover {
    background-color: #1abc9c;
    transition-duration: 0s;
}

.fix-tag-row .radio:checked {
    background-color: #6cf;
}

.fix-tag-row .radio:checked::after {
    background-color: #fff;
    left: 13px;
}

.fix-tag-row :focus:not(.focus-visible) {
    outline: 0;
}

.fix-tag-row .radio:checked:hover {
    background-color: #1abc9c;
}

.tag-radio label input {
    margin: 10px;
}

.tag-input {
    color: #1abc9c;
}

.tag-input input {
    width: 50%;
    padding: 5px;
    border: 1px solid;
    border-radius: var(--border-radius);
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: rgb(236, 231, 231);
}

.fix-tag-default {
    display: none;
}

.submit-button {
    margin-top: 15px;
}

.submit-button.enabled:hover {
    transform: scale(1.2);
}