.fixme {
    flex-wrap: wrap;
    justify-content: space-around;
    color: cyan;
    border: 7px solid var(--octopus-gray);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    margin: 25px;
    max-width: 675px;
    height: auto;
    position: relative;
}

.fixme-header {
    margin-bottom: 30px;
    border-bottom: gray 1px solid;
    padding: 0;
}

.fixme-title {
    margin: 0px 0px 20px 0px;
    padding: 0;
    color: #1abc9c;
}

.order-type {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    margin: 15px 0px 0px 10px;
}

.order-type label {
    margin-right: 30px;
    color: white
}

.order-type label input {
    margin-right: 5px;
}

.order label {
    margin-right: 15px;
}

.fix-tag-row {
    display: flex;
    align-items: center;
    height: 35px;
}

.even-row {
    background-color: var(--octopus-gray);
}

.tag-label {
    width: 100px;
    color: #1abc9c;
}

.name-label {
    width: 200px;
}

.value-label {
    width: 300px;
    border-left: gray 1px solid;
    color: white;
}

.fix-tag-row .radio {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0px 10px 0px 10px;
    position: relative;
    width: 30px;
}

.fix-tag-row .radio::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.fix-tag-row .radio,
.fix-tag-row .radio::after {
    transition: all 100ms ease-out;
}

.fix-tag-row .radio::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.fix-tag-row input[type=checkbox] {
    cursor: default;
}

.fix-tag-row .radio:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.fix-tag-row .radio:checked {
    background-color: #6cf;
}

.fix-tag-row .radio:checked::after {
    background-color: #fff;
    left: 13px;
}

.fix-tag-row :focus:not(.focus-visible) {
    outline: 0;
}

.fix-tag-row .radio:checked:hover {
    background-color: #535db3;
}

.tag-radio label input {
    margin: 10px;
}

.tag-input {
    color: #2d83a2;
}

.tag-input input {
    width: 50%;
    padding: 5px;
    border: 1px solid;
    border-radius: var(--border-radius);
}

.fix-tag-default {
    display: none;
}

.submit-button {
    margin-top: 15px;
}