.fixme {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    color: cyan;
    border: 7px solid var(--octopus-gray);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    margin: 25px;
    max-width: 650px;
    height: auto;
    position: relative;
}

.fixme-title {
    margin-bottom: 5px;
    padding: 0;
    color: cyan;
    width: 650px;
}

.order-type {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    /* background-color: #e2e9e3; */
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px 0px 35px;
}

.order label {
    margin-right: 15px;
}

.new-fix-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 10px 10px 20px;
}

.tag {
    /* display: inline-block; */
    padding: 10px;
    margin: 10px;
    border: solid 1.0px var(--octopus-gray);
    width: 25%;
    height: 100px;
    position: relative;
}

.tag-label {
    display: block;
    /* padding: 10px;
    margin: 5px; */
    /* border: solid 1.5px; */
    cursor: pointer;
    /* Adding depth effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* Smooth transition for click and hover effects */
}


.fix-tag-button {
    position: relative;
    display: inline-block;
    border: solid 1.0px var(--octopus-gray);
}

.tag-button {
    background-color: #2d83a2;
    color: white;
    padding: 10px;
    border: solid 1.5px;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 7px;
    /* Adding depth effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* Smooth transition for click and hover effects */
}


.tag-button:hover + .tag-content,
.tag-button:focus + .tag-content,
.tag-content:hover {
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
    /* Optional: Slightly reduce the size on hover/focus to enhance the depth effect */
    transform: translateY(2.5px);
}

.tag-content {
    display: none;
    position: absolute;
    background-color: var(--octopus-gray);
    /* border: solid 1.0px; */
    min-width: 100%;
    /* Take up the width of .fixme */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* transition: all 0.3s cubic-bezier(.25, .8, .25, 1); */
    z-index: 1;
}

.tag-content a {
    color: cyan;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.tag-content a:hover {
    background-color: #161b22;
}

.fix-tag-input {
    position: relative;
    display: inline-block;
    /* width: 30%; */
    padding: 20px;
    margin: 10px 10px;
    border: 1px solid var(--octopus-gray);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.tag-input {
    width: 100%;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid var(--octopus-gray);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.tag-input-label {
    /* color: red; */
    padding: 10px 10px;
    margin: 5px 5px;
    /* border: solid 1.5px; */
}

.fix-tag-default {
    display: none;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 50%;
    /* Adding depth effect */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* Smooth transition for click and hover effects */

}

.submit-button:hover {
    background-color: #45a049;
    /* Optional: Slightly reduce the size on hover/focus to enhance the depth effect */
    transform: translateY(2.5px);
}