.lab {
    border: 7px solid var(--octopus-gray);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.lab-title {
    margin: 0px 0px 20px 0px;
    padding: 0;
    color: #1abc9c;
}

.lab-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: cyan;
    font-size: 15px;
}

.lab-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lab-card-button {
    margin-left: 15px;
    width: 130px;
}

.lab-card-button.enabled {
    background: rgba(0, 255, 255, 0.605);
    margin-left: 10px;
    color: gray;
}

.lab-card-button.enabled:hover {
    background: cyan;
}

.lab-card-button.selected {
    background: rgba(0, 255, 255, 0.862);
}

.lab-card-button h2 {
    text-align: center;
    color: white;
    margin-top: 5px;
}

.lab-card-button.disabled {
    background-color: inherit;
    cursor: not-allowed;
}

.lab-card-button.disabled:hover {
    background: none;
}

.lab-card-button.disabled h2 {
    color: #7b7272;
}

.option-content {
    display: none;
    position: absolute;
    background-color: var(--octopus-gray);
    border: solid 1.0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 130px;
}

.option-name {
    color: white;
    padding: 10px;
    display: block;
}

.option-name:hover {
    background-color: black;
}

.lab-card-button:hover .option-content {
    display: block;
    margin: 12px 0px 0px -26px;
}

.run-button {
    margin-top: 20px;
}

.run-button.enabled {
    background-color: green(5, 219, 5);
}

.run-button.enabled:hover {
    background-color: #1abc9c;
}

.run-button.disabled {
    background-color: inherit;
    cursor: not-allowed;
    color: gray;
}
