.cards-component {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if there are too many cards-component */
    justify-content: center;
    margin-top: 2px;
    position: relative;
}

.cards-body {
    margin-top: 30px
}

/* suppose to make the scrollbar always visible */
.cards-component::-webkit-scrollbar {
    width: 1px;
}

.cards-component::-webkit-scrollbar-thumb {
    background-color: #30363d;
}

.cards-component::-webkit-scrollbar-track {
    background-color: #12161d;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    color: var(--octopus-gray);
}

.cards-header {
    width: 92.5%;
    top: 0;
    padding: 15px 20px;
    background-color: black;
    position: absolute;
    margin-bottom: 10px;
    border: 1px solid var(--octopus-gray); /* Neon green border */
}

.refresh-button {
    width: 18px;
    cursor: pointer;
    top: 5px;
    left: 5px;
    position: absolute;
    margin-left: 5px;
}

.refresh-button:hover {
    color: white;
    transform: scale(1.2);
}