.card {
    background-color: var(--octopus-gray);
    border-radius: var(--border-radius);
    border: 1.5px solid #30363d;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 580px;
    height: 150px;
    overflow: hidden;
    box-shadow: inset 1px 1px 1px 1px rgba(58, 56, 56, 0.2);
}

.card:hover, .card:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
    /* Optional: Slightly reduce the size on hover/focus to enhance the depth effect */
    /* transform: translateY(2.5px); */
    transform: scale(1.15);
}

.project-name {
    font-size: 14px;
    font-weight: bold;
    font-weight: 500;
    margin-left: 80px;
    /* align-content: center; */
    color: white;
    /* text-align: center; */
    /* border: 1px solid var(--border-color); */
}

.card-content button {
    background-color: #40454e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 7px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content button:hover {
    background-color: #161b22
}

.score-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Monaspace Neon', 'Monaspace Krypton', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 15px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
    color: white
}

.score-board {
    float: left;
    padding: 5px;
    font-weight: 500;
    line-height: 25px;
    color: white;
    border: 0.5px solid var(--border-color);
    margin-top: 15px;
}

.score-board:hover {
    background-color: #161b22
}

.score {
    display: inline-block;
    min-width: 20px;
    margin: 5px 5px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #c9d1d9;
    background-color: rgba(175, 184, 193, .2);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2em;
}

.branch, .time-stamp {
    margin: 3px;
}

.card-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 11px;
    margin-top: 1px;
    border-top: 0.5px solid #a3a9a2;
    color:var(--border-color)
}

.branch {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-style:oblique;
    font-weight: bolder;
    line-height: 18px;
    color: #c9d1d9;
    text-align: center;
}

.time-stamp {
    display: inline-block;
    min-width: 20px;
    font-weight: 500;
    color: #c9d1d9;
    text-align: center;
}
