.cards {
    overflow: auto;
    height: 760px;
    scrollbar-color: #30363d #12161d;
    scroll-behavior: smooth;
    /* border-right: 0.5px solid var(--border-color); */
}
 /* suppose to make the scrollbar always visible */
.cards::-webkit-scrollbar {
    width: 5px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #30363d;
}

.cards::-webkit-scrollbar-track {
    background-color: #12161d;
}