.cards {
    overflow: auto;
    height: 130vh;
    width: 600px;
    scrollbar-color: #30363d #12161d;
    scroll-behavior: smooth;
    margin-right: 50px;
    overflow: auto;
    /* margin-left: 45px; */
    /* border: 1px solid var(--border-color); */
}
 /* suppose to make the scrollbar always visible */
.cards::-webkit-scrollbar {
    width: 5px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #30363d;
}

.cards::-webkit-scrollbar-track {
    background-color: #12161d;
}