* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

.app-header {
  background-color: #12161d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  font-size: small;
  color: rgb(250, 248, 248);
  height: 80px;
}

body {
  background-color: #12161d;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #30363d; */
}

.tech {
  /* border: 1px solid salmon; */
}
